<!DOCTYPE HTML>
<html>
	<head>
	
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="/static/student/script/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="/static/student/script/jquery.min.js"></script>
		<!-- js-->
		<script src="/static/student/script/letters.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="/static/student/script/bootstrap.min.js"></script>
		<!-- My css-->
		<link rel="stylesheet" type="text/css" href="/static/student/css/home.css">
		<title>
			Student Data
		</title>
	</head>
	<body onload="set_pos()" >
			
			<nav class="navbar navbar-inverse navbar-fixed-top" id="ele1">
				<div class="row" id="myid" style="border:1px solid black;">
					<div class="col-md-4" >				
						<img src="/static/student/bhulogo.JPG" width="100%">
					</div>
					<div class="col-md-2"></div>
					<div class="col-md-6" id="id1"> Faculty of Arts
					</div>
				</div>
			  <div class="container-fluid" id="cont-flu">
				<div class="navbar-header" >
					<a class="anc" href="/">Banaras Hindu University Varanasi</a>
				</div>
				<ul class="nav navbar-nav navbar-right" id="ele2">
				  <li>
					<a href="#"style="color:black">
						<span class="glyphicon glyphicon-log-in" id="User_name" onclick="menu1()">
						{{ name }}&nbsp
						</span>
					</a>
				  </li>
				</ul>
			  </div>
			</nav>
			<div id="personal" class="menu">
				<ul class="list-group">
                    <li onclick="location.href = '/settings/';" style="cursor:pointer" class="list-group-item">Settings</li>
                    <li onclick="location.href = '/profile/';" style="cursor:pointer" class="list-group-item">Profile</li>
                    <li onclick="location.href = '/logout/';" style="cursor:pointer" class="list-group-item">Logout</li>
				</ul>
			</div>
			<div id="body_item" class="text_modify">
				<div class="well">
                    <form action="/student/search/" method="post">
                    <div class="form-group" style="display:inline">
                        <h4 style="display:inline;margin-right:3%">
                            
                            <label for="filter">Select student by </label>
                            <select name="filterby" class="form-control" style="width:30% !important;display:inline;margin-left:2%" id="filter">
                                <option value="eno">Roll number</option>
                                <option value="programme">Programme</option>
                                <option value="fname">Name (first name)</option>
                                <option value="cid">Course Enrolled (specify course id)</option>
                            </select>
					<input type="text" id="inp1" name="filtervalue" class="form-control" style="width:30% !important;display:inline;margin-left:2%" value="15075002" >
					</h4>
                    </div>
					<button type="submit" style="display:inline" id="b1"class="btn btn-info">Search</button>
                        </form>
				</div>
                
				<div id="search_results" class="well">
                    {% if Rec|count >0 %}
					<table class="table">
						<tr>
							<th>Roll number</th>
							<th>Full Name</th>
							<th>Programme</th>
							<th>Date of admission</th>
						</tr>
						<tbody>
                            {% for i in Rec %}
							<tr  id="{{i[0]}}" class="trb well" onclick="show_stu(this)">
								<td>{{i[0]}}</td>
								<td>{{i[1]}}</td>
								<td>{{i[2]}}</td>
								<td>{{i[3]}}</td>
							</tr>
                            {% endfor %}
						</tbody>
					</table>
                    {% endif %}
					<form id="specific" action="/request/" method="post">
                        <input name="eno" id="eno" style="display:none">
                    </form>
				</div>
			</div>
			
			<!--<div>
				<input id="sample" type="text" style="margin-top:500px" value="def"></input>
			</div>
			
				Number| View |details ->date, source,subject, status, history| take action -> Forward, Completed,reject + descp|
			-->
	</body>
</html>