<!DOCTYPE HTML>
<html>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/static/timetable/script/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="/static/timetable/script/jquery.min.js"></script>
	<!-- js-->
	<script src="/static/timetable/script/letters.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="/static/timetable/script/bootstrap.min.js"></script>
	<!-- My css-->
	<link rel="stylesheet" type="text/css" href="/static/timetable/css/home.css">
	<title>
		Time table
	</title>
</head>
<body onload="set_pos()">

	<nav class="navbar navbar-inverse navbar-fixed-top" id="ele1">
		<div class="row" id="myid" style="border:1px solid black;">
			<div class="col-md-4">
				<img src="/static/timetable/bhulogo.JPG" width="100%">

			</div>
			<div class="col-md-2"></div>
			<div class="col-md-6" id="id1">
				Faculty of Arts
			</div>
		</div>
		<div class="container-fluid" id="cont-flu">
			<div class="navbar-header">
				<a class="anc" href="/">Banaras Hindu University Varanasi</a>
			</div>
			<ul class="nav navbar-nav navbar-right" id="ele2">
				<li>
					<a href="#" style="color:black">
						<span class="glyphicon glyphicon-log-in" id="User_name" onclick="menu1()">
							{{name}}&nbsp
						</span>
					</a>
				</li>
			</ul>
		</div>
	</nav>
	<div id="personal" class="menu">
		<ul class="list-group">
			<li onclick="location.href = '/settings/';" style="cursor:pointer" class="list-group-item">Settings</li>
			<li onclick="location.href = '/profile/';" style="cursor:pointer" class="list-group-item">Profile</li>
			<li onclick="location.href = '/logout/';" style="cursor:pointer" class="list-group-item">Logout</li>

		</ul>
	</div>
	<div id="body_item" class="text_modify">
		<div class="well">
			<form action="/timetable/search/" method="post">
				<table class="table">
					<tbody>
						<tr class="trb well">
							<th class="form-group">
								Time table search
							</th>
						</tr>
						<tr class="trb well ">
							<td class="form-group">
								<select class="form-control" name="filterby" id="filter" required>
									<option value="stu">Student </option>
									<option value="cls">Class</option>
									<option value="fac">Faculty</option>
								</select>
							</td>
							<td class="form-group">
								<input type="date" name="filtervalue1" class="form-control" required />
							</td>
							<td class="form-group">
								<input type="text" id="inp1" name="filtervalue2" class="form-control" required />
							</td>
						</tr>
					</tbody>
				</table>
				<button type="submit" style="display:inline" id="b1" class="btn btn-info">Search</button>
			</form>
		</div>
		{%if search=="1"%}
		<div class="well">Search by {{typo}} </div>
		{% endif %}
		<div class="well">
			<table class="table">

				<tr>
					{% for i in buttons %}
					<th class="trb well">
						<button type="button" onclick="location.href = '/{{ i[1] }}/';" class="btn btn-info">{{i[0]}}</button>
					</th>
					{% endfor %}
				</tr>

			</table>
		</div>
		{% if res|count > 0 %}
		<div id="search_results" class="well">

			<table class="table">
				<tr>
					{% for i in range(res[0]|count) %}
					<th>{{res[0][i]}}</th>
					{% endfor %}
				</tr>
				<tbody>
					{% for i in range(1,res|count) %}
					{% set k = res[i] %}
					<tr class="trb well">

						{% for  j in k %}
						<td>{{j}}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% endif %}
	</div>
	<!--<div>
		<input id="sample" type="text" style="margin-top:500px" value="def"></input>
	</div>

		Number| View |details ->date, source,subject, status, history| take action -> Forward, Completed,reject + descp|
	-->
</body>
</html>