<!DOCTYPE HTML>
<html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="{{url_for('static',filename='home/script/bootstrap.min.css')}}">

		<!-- jQuery library -->
		<script src="{{ url_for('static',filename='home/script/jquery.min.js')}}"></script>

		<!-- Latest compiled JavaScript -->
		<script src="{{url_for('static',filename='home/script/bootstrap.min.js')}}"></script>
		<!-- My css-->
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='home/css/home.css')}}">
		
		<!-- My JS -->
		<script src="{{ url_for('static',filename='home/script/hom.js')}}"></script>
		<title>
			Welcome
		</title>
	</head>
	<body >
			
			<nav class="navbar navbar-inverse navbar-fixed-top" id="ele1">
				<div class="row" id="myid" style="border:1px solid black;">
					<div class="col-md-4" >				
						<img src="{{url_for('static',filename='home/bhulogo.JPG')}}" width="100%">
						</img>
					</div>
					<div class="col-md-2"></div>
					<div class="col-md-6" id="id1"> Faculty of Arts
					</div>
				</div>
			  <div class="container-fluid">
				<div class="navbar-header" >
					<a class="anc" href="/">Banaras Hindu University Varanasi</a>
				</div>
				<ul class="nav navbar-nav navbar-right" id="ele2">
				  <li ><a id="modalshow" href="#"style="color:black"><span class="glyphicon glyphicon-log-in" ></span> Login</a></li>
				</ul>
			  </div>
			</nav>
			<div id="myModal" class="modal fade" role="dialog">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="loader " style="margin-left:45%;margin-top:40%" ></div><br>
				<div class="modal-content">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<form  style="width:360px" action="/logint/" method="post" >
						  <div class="form-group">
							<label for="uid" >UserID:</label>
							<input type="number" class="form-control" placeholder="Roll number/password" id="uid" name="usid">
						  </div>
						  <div class="form-group">
							<label for="pwd">Password.</label>
							<input type="password" class="form-control" placeholder="Enter password" id="pwd" name="pwd">
						  </div>
						  <button id="submitnew" type="submit" class="btn btn-default" name="sbmit">Submit</button>
				  </div>
				</div>
			  </div>
			</div>
		<div style="top:200px;padding:0;position:absolute;width:100%;height:300px;">
		<section>
				<div class="alert alert-success" style="font-size:20px">
						<div class="container-flex text-center">
							<div class="row">
								<div class="col-md-12"  >				
									{{ msg }}
								</div>
							</div>
						</div>
					</div>
					{{msg}}
			</section>
			<br>
			<section>
				
				<div class="container-flex text-center">
					<div class="row">
						<div class="col-md-3"  >				
							<div class="panel panel-default eff" onclick="location.href = '/letters/'">
								<div class="panel-body" style="cursor:pointer;">Letters</div>
							</div>
						</div>
						<div class="col-md-3">
								<div class="panel panel-default eff" onclick="location.href = '/student/'">
									<div class="panel-body" style="cursor:pointer;">Student Records</div>
								</div>						
							
						</div>
						<div class="col-md-3" >
							<div class="panel panel-default eff" onclick="location.href = '/timetable/';">
								<div class="panel-body" style="cursor:pointer;">Time Table</div>
							</div>
						</div>
						<div class="col-md-3" >
							<div class="panel panel-default eff"onclick="location.href = '/library/';" >
								<div class="panel-body" style="cursor:pointer;">Library</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<br>
			
		</div>
	</body>
</html>
